@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Welcome to your web-based beverage management system. You can access your collection of beverages and modify or delete them. You can also add new beverages
    to your collection by simply filling out a small form. To access your collection, you must first be logged in. If you do not have an account, click the Register
    link in the top right corner of the page. If you do have an account, then click the Sign In link in the top right of the page. Once you are logged in, you will
    see a link that reads "Beverages" at the top of the page. That link will take you to your collection.
</p>
